<div class="screen">
  <div class="top-row">
    <div class="user-container">
      <img src="/assets/{{user.gender}}.png">
      <span>{{user.alias}}</span>
    </div>
    <div class="coins-container">
      <div>
        <div class="completed" *ngFor="let i of testCompleted"></div>
        <div class="togo" *ngFor="let i of testToGo"></div>
      </div>
    </div>
    <app-exit-button></app-exit-button>
  </div>
  <div class="board-container">
    <div class="board-border">
      <div class="board-content">
        LOL?
      </div>
    </div>
  </div>

  <div class="floaters">
    <img src="/assets/character_quiet.png">
  </div>
</div>
