<div class="screen">
  <div class="top-row">
    <div class="user-container">
      <img src="/assets/{{user.gender}}.png">
      <span>{{user.alias}}</span>
    </div>
    <div class="coins-container">
      <div>
        <div *ngFor="let game of games" class="{{ getClasses(game) }}"></div>
      </div>
    </div>
    <app-exit-button></app-exit-button>
  </div>
  <div class="games-container">
    <app-counting (passed)="gameEvent($event)"></app-counting>
    <app-counting (passed)="gameEvent($event)"></app-counting>
    <app-logical-serie (passed)="gameEvent($event)"></app-logical-serie>
    <app-logical-serie (passed)="gameEvent($event)"></app-logical-serie>
    <app-shopping (passed)="gameEvent($event)"></app-shopping>
    <app-shopping (passed)="gameEvent($event)"></app-shopping>
  </div>

  <div class="floaters">
    <img src="/assets/character_quiet.png">
  </div>
</div>