.screen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/*noinspection CssUnknownTarget*/
.top-row {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 150px;
  background: url('/assets/testview/topBarBackground.png') no-repeat center;
  background-size: cover;
}

.top-row > app-exit-button {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.top-row > div:first-child {
  position: absolute;
  display: flex;
  left: 20px;
  bottom: 10px;
}

.top-row > div:first-child span {
  margin: auto 10px;
  color: white;
  font-family: 'Gloria Hallelujah', Roboto, sans-serif;
  font-size: 30px;
}

.top-row > div:first-child img {
  border-radius: 100%;
  background: #fff;
  height: 60px;
}

.games-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  background: url('/assets/b3.png') no-repeat center;
  background-size: cover;
  height: calc(100% - 150px);
}

.games-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto 10px;
  width: 30%;
  height: 200px;
  margin: 0 5%;
}

.games-container > div > div:first-child {
  display: flex;
  justify-content: center;
  border: 10px rgba(0, 0, 0, 0.7) solid;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  width: 100%;
  height: 70%;
  transition: width 300ms ease-in-out, height 300ms ease-in-out,
    background-color 300ms ease-in-out;
}

.unlocked {
  cursor: pointer;
}

.games-container > div > div.unlocked:first-child:hover {
  height: 100%;
  width: 110%;
  background: rgba(255, 255, 0, 0.7);
}

.games-container > div > div:first-child img {
  height: 100%;
  width: auto;
}

.games-container > div > div:last-child {
  display: flex;
  justify-content: center;
}

.games-container > div > div:last-child img {
  margin: 3px;
  height: 30px;
  width: auto;
}

.games-container > img {
  height: 100px;
  width: 100px;
}

.screen > div.floaters {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

.screen > div.floaters {
  height: 100%;
}
