<div class="screen">
    <div class="top-row">
      <div class="user-container">
        <img src="/assets/{{user.gender}}.png">
        <span>{{user.alias}}</span>
      </div>
      <app-exit-button></app-exit-button>
    </div>
  
    <div class="games-container">
      <div>
        <div class="unlocked" (click)="redirect('/game/shopping')">
          <img src="/assets/mini3.png">
        </div>
        <div>
          <div>
            <img *ngFor="let star of stars[0]" src="/assets/{{star}}Star.png">
          </div>
        </div>
      </div>
  
      <div>
        <div>
          <img src="/assets/surpriseIcon.png">
        </div>
        <div>
          <div>
            <img *ngFor="let star of stars[1]" src="/assets/{{star}}Star.png">
          </div>
        </div>
      </div>
  
      <div>
        <div>
          <img src="/assets/surpriseIcon.png">
        </div>
        <div>
          <img *ngFor="let star of stars[2]" src="/assets/{{star}}Star.png">
        </div>
      </div>
  
      <div>
        <div>
          <img src="/assets/surpriseIcon.png">
        </div>
        <div>
          <div>
            <img *ngFor="let star of stars[3]" src="/assets/{{star}}Star.png">
          </div>
        </div>
      </div>
    </div>
  
    <div class="floaters">
      <div></div>
      <div></div>
      <a routerLink="/islands">
        <img src="/assets/redBackArrow.png">
      </a>
      <div></div>
    </div>
  </div>